<h1 mat-dialog-title>Create Post</h1>
<div mat-dialog-content>
    <form class="create-post-form">
        <mat-form-field>
            <mat-label>Post Title</mat-label>
            <input matInput [formControl]="postTitle">
            <mat-error *ngIf="postTitle.hasError('required')">Post must include a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Post Content</mat-label>
            <textarea matInput [formControl]="postContent"></textarea>
            <mat-error *ngIf="postContent.hasError('required')">Post must have some content</mat-error>
        </mat-form-field>
    </form>
</div>
<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
<div mat-dialog-actions>
    <app-button [disabled]="!(postTitle.valid && postContent.valid) || isPosting" [showProgress]="isPosting" (click)="createPost()">Post</app-button>
</div>