<app-standalone-card title="Create Account">
    <form class="create-account-form">
        <mat-form-field>
            <label>Username</label>
            <input matInput [formControl]="usernameControl">
            <mat-error *ngIf="usernameControl.hasError('required')">
                A username is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>Password</label>
            <input type="password" matInput [formControl]="passwordControl">
            <mat-error *ngIf="passwordControl.hasError('required')">
                A password is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>Retype Password</label>
            <input type="password" matInput [formControl]="retypePasswordControl">
            <mat-error *ngIf="retypePasswordControl.hasError('required')">
                Please retype your password
            </mat-error>
            <mat-error
                *ngIf="!retypePasswordControl.hasError('required') && retypePasswordControl.hasError('sameValue')">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <button
                mat-raised-button
                color="primary"
                [disabled]="!allFieldsSatisfied() || submitInProgress"
                class="submit-button"
                (click)="submit()">
            <mat-spinner *ngIf="submitInProgress; else submitText"></mat-spinner>
            <ng-template #submitText>
                Submit
            </ng-template>
        </button>
    </form>
</app-standalone-card>