.landing-page-container {
    width: 80%;
    margin: auto;
    padding: 10px 15px;
    background-color: white;

    * { margin: 0; }

    .landing-page-spinner { margin: auto; }

    .landing-page-post {
        display: flex;
        margin: 10px 0;

        .rate-container {
            margin-right: 1em;

            .rate-section { display: flex; }
        }

        .user-details {
            display: flex;
            align-items: center;
            font-size: 13px;

            .user-link {
                cursor: pointer;
                outline: none;
            }
        }

        .post-title {
            width: fit-content;
            height: fit-content;
            font-weight: 500;
            cursor: pointer;
        }
    }
}