.landing-page-container {
    width: 80%;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    background-color: white;

    * { margin: 0; }

    .landing-page-spinner {
        margin: auto;
    }

    .landing-page-post {
        width: 80%;
        margin: 10px auto;
        padding: 10px;
        text-align: left;

        .landing-page-post-title {
            font-weight: 500;
        }

        .landing-page-post-content {
            margin-top: 5px;
        }
    }
}