<mat-card class="landing-page-container">
    <ng-container *ngIf="!loadingPosts; else spinner">
        <ng-container [ngSwitch]="postStatus">
            <ng-container *ngSwitchCase="'Ok'">
                <div *ngFor="let post of posts" class="landing-page-post">
                    <div class="rate-container">
                        <div class="rate-section" [ngStyle]="{'color': isPostLiked(post._id) ? 'rgb(0,200,0)' : 'black'}">
                            <mat-icon>expand_less</mat-icon>
                            <p class="rate-value">{{ post.likes | prettyNumber }}</p>
                        </div>
                        <div class="rate-section" [ngStyle]="{'color': isPostDisliked(post._id) ? 'rgb(255,100,0)' : 'black'}">
                            <mat-icon>expand_more</mat-icon>
                            <p class="rate-value">{{ post.dislikes | prettyNumber }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="post-title hover-underline" (click)="openPost(post._id)">{{ post.title }}</p>
                        <div class="user-details">
                            <p>
                                <span [title]="toTimestamp(post)">submitted {{ post.date | dateAgo }} ago</span> by
                                <span
                                    title="Click to go to profile"
                                    [routerLink]="'/user/' + post.author.username" class="user-link hover-underline">
                                        u/{{ post.author.username }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'None'">
                <p>No posts!
                    <span (click)="dialog.openCreatePostDialog()" class="underline-hover">Why not make one?</span>
                </p>
            </ng-container>
            <ng-container *ngSwitchCase="'Error'">
                <p>Looks like we couldn't load any posts</p>
                <a (click)="fetchPosts()">Retry</a>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template #spinner>
        <mat-spinner class="landing-page-spinner"></mat-spinner>
    </ng-template>
</mat-card>