.post-header {
    display: flex;

    .rate-section {
        margin-right: 16px;

        .rater {
            display: flex;
            justify-content: baseline;

            mat-icon {
                user-select: none;
            }
        }
    }

    .account-info {
        display: flex;
        cursor: pointer;
        width: fit-content;
        align-items: center;
        padding-bottom: 8px;

        .username {
            display: inline-block;
            margin: 0;
        }
    }
}