.account-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .mini-profile-pic {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 8px;
    }
    .username {
        display: inline-block;
        margin: 0;
    }
}