.full-page-container {
    width: fit-content;
    padding: 20px;
    margin: auto;

    .standalone-card {
        width: fit-content;
        margin: auto;

        ::ng-deep {
            mat-card-content {
                mat-card-header {
                    .mat-card-header-text {
                        display: none;
                    }
                }
            }
        }
    }
}