<div class="row" [ngStyle]="{'color': liked ? 'rgb(255,150,0)' : 'inherit'}">
    <mat-icon (click)="like.emit(this.post)" class="pointer icon">keyboard_arrow_up</mat-icon>
    <p [title]="post.likes">{{ post.likes | prettyNumber }}</p>
</div>
<div class="row" [ngStyle]="{'color': disliked ? 'rgb(0,150,255)' : 'inherit'}">
    <mat-icon (click)="dislike.emit(this.post)" class="pointer icon">keyboard_arrow_down</mat-icon>
    <p [title]="post.dislikes">{{ post.dislikes | prettyNumber }}</p>
</div>